useDynLib(GUTS)
#exportPattern("^[[:alpha:]]+")
exportPattern("^[^\\.]")
importFrom(Rcpp, evalCpp)
import(methods, Rcpp)
S3method(print, GUTS)
S3method("[[<-", GUTS)
S3method("$<-", GUTS)
S3method("attr<-", GUTS)
S3method("attributes<-", GUTS)
S3method("mostattributes<-", GUTS)
