body {
	margin: .1em 2em .1em 2em;
	font-family: serif;
	font-size: 100%;
	line-height: 140%;
}

h1 {
	font-size: 140%;
	font-weight: bold;
	font-family: sans-serif;
}

h2 {
	font-size: 111%;
	font-weight: bold;
	font-family: sans-serif;
}